<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Basic Brews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="icon" href="../static/images/favicon/favicon-32x32.png" type="image/png">
    <link rel="icon" href="../static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180" href="../static/images/favicon/apple-touch-icon.png">


</head>
<body>
    <p th:text="|Hello, World!|" />
</body>
</html>